<%

var curCloudName = null

%>

<!doctype html>
<html>
  
  <% include header.ejs %>

  <body class='night'>

    <section class='container nav btn-wrap'>
      <a href='/'>&nbsp/&nbsp</a>
      <a href='/clouds'>/clouds</a>
      <a href='javascript:toggleDayNight()'>day/night</a>
      <% if (typeof user != 'undefined' && user._id !== null) { %>
        <a href='/logout'>logout</a>
      <% } else { %>
        <a href='/login'>login</a>
      <% } %>
    </section>

    <% include cloud/cloud-overview.ejs %>

    <% include note/note-create.ejs %>

    <%if (view == 'oneCloud') {%>
      <% include cloud/cloud-show.ejs %>
    <% } else { %>
      <% include cloud/cloud-show-all.ejs %> <!-- /clouds : ::: : show all clouds and their notes  -->
    <% } %>

  </body>
</html>
