<!doctype html>
<html>
  
<% include header.ejs %>

<body class='night'>
  <div class='items'>
  <% for(i = 0; i < vars.notes.length; i++) {
       var note = vars.notes[i]
    %>
      <span class='item'>
        <span>
          [<%= note._id %>]
        </span>
        <span>
          <%= note.content %>
        </span>
      </span>
    <% } %>
  </div>
  <div class="container">
    <div>
      <%= question %>
    </div>
    <form method="post" action="<%= route %>" class="items" novalidate>
      <button class="btn" type="submit" name="confirm" value="yes">Borrar</button>
      <button class="btn" type="submit" name="confirm" value="no">Cancelar</button>
    </form>
  </div>
</body>