<%

if(!pagetitle)
  var pagetitle = 'Quetzalito'

%>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="script/jquery.min.js"></script>
  <script type="text/javascript" src="script/script.js"></script>

  <title><%= pagetitle %></title>
</head>