<!doctype html>
<html>
  
  <% include header.ejs %>

  <body class='night'>
    <div class='container'>
      <div>
        <%= vars.message %>
      </div>
      <div class='btn-wrap'>
        <a href='<%= vars.path %>' class='btn'>
          <%= vars.pathName %>
        </a>
      </div>
    </div>
  </body>
</html>