body {
  font-family: 'Nunita', 'Calibri', 'helvetica neue', 'Helvetica', 'Arial', 'liberation sans', 'sans-serif';
  font-size: 16px;
  margin: 0px; 6adding: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
}
body.night {
  background: #212121;
  color: #777;
}

a {
  text-decoration: none;
  color: #777
}
a:hover {
  color: #ccc !important;
}
.night a:hover {
  color: white !important;
}
a:visited {
  color: inherit;
}


/* container */

.container {
  width: 333px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
body.big .container {
  width: 1024px;
}
body.size600 .container {
  width: 620px;
}

/* navigation */

.nav {
  margin-bottom: 30px;
}

/* buttons <a> */

.btn-wrap {
  padding: 3px 0px;
}
.btn-wrap a {
  border-radius: 10px;
  padding: 2px 7px;
}
.night .btn-wrap a {
  background: #333;
}


/* create cloud */

#input-create-cloud {
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #777;
  text-align: center;
  width: 120px;
  height: 30px;
  font-size: 16px;
  outline: none;
}
.night #input-create-cloud {
  background: #2d2c00;
  color: white;
}


/* fresh inputs */

.fresh {
  color: #9c9c9c !important;
  font-style: italic;
}


/* items */

.items {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.items .item span:hover {
/*   background-color: #CCC; */
/*   border: 1px solid white; */
}

.items .item {
  /* background-color: #3b611e; */
  border-radius: 14px;
  margin: 2px 0;
  padding: 3px 10px;
  display: inline-block;
  /* color: white; */
  border: 1px solid #efe8e8;
}
.items .item:active {
  background: #cecece !important;
}
.night .items .item:active {
  background: #314213 !important;
}

body.night .items .item {
  color: #b8c39d;
  border: 1px solid #3a3a3a;
  background: #2d2d2d;
}
.items .item.selected {
  border-color: #dbcd34 !important;
}

/* notes */

.notes {
  margin-bottom: 10px;
  margin-top: 7px; }

.note {
  /* styles to break long URLs e.g. // gracias a https://css-tricks.com */
  
  /* These are technically the same, but use both */
/*   overflow-wrap: break-word; */
  word-wrap: break-word;
/*   word-break: break-all;  /* This is the dangerous one in WebKit, as it breaks things wherever */ */
  word-break: break-word; /* Instead use this non-standard one: */
}

.note.clouded { opacity: 0.2; font-size: 70% }

.note.type-youtube .content { font-size: 70%; color: #5a5a5a; line-height: 5px }

.note iframe { margin-top: 15px }
.note form { display: inherit; } /* vote up/down forms */
.note .meta {
  display: inline-block;
}
.note .rating {
  margin-left: 3px;
  color: #935f5f;
  background: #efefef;
  padding: 0px 5px;
  border-radius: 10px;
}
.note .vote {
  color: #48463a;
}
body.night .note .rating {
  color: #756565;
  background: #363636;
}

body.night .note-title {
  color: #efefef;
}


/* clouds */

.cloud-funcs {
  margin: 30px 0px;
}

.clouds .cloud.current {
  border: 1px solid #c0e66a !important;
/*   background: #ffe096 !important; */
  color: #232323 !important;
}
.night .clouds .cloud.current {
/*   border: 1px solid #c0e66a !important; */
/*   background: #633939 !important; */
  color: white !important;
}

.clouds .cloud .count {
  background-color: #efefef;
  border-radius: 6px;
  padding: 0px 5px;
  font-size: 90%;
  color: black;
}
.night .clouds .cloud .count {
  background-color: #57602a;
}
  
.cloud .title {
/*   margin: 20px 0px 5px 0px; */
/*   padding: 10px 0px; */
  font-size: 200%;
  color: #c8c8c8;
}
.cloud .when { color: #444; }

.cloudTitle {
  margin: 20px 0px 5px 0px;
  font-size: 200%;
  color: #c8c8c8;
}

/* color picker */

.colorPicker-wrap {
  position: relative;
  width: 200px; height: 200px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}
.colorPicker-wrap .color {
  position: absolute;
  display: inline-block;
  width: 10px; height: 10px;
}


/* create note */

.nube-crear-nota {
  background-image: url('../images/cloud-bw.svg');
  background-repeat: no-repeat;
  width: 200px;
  margin: 0 auto;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; }}
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 0s;
}

#add-note-input-wrap {
  width: 200px;
  height: 70px;
  margin: 0px;
  padding-top: 70px;
}
#add-note-input-wrap textarea {
  resize: none;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 13px;
  margin-left: 13px;
  padding: 7px;
  width: 160px;
  font-size: 14px;
  text-align: center;
}

#move-to-cloud form { display: inline-block; margin-bottom: 3px; }

.form-actions {
  text-align: center;
}
.btn {
  border: 0;
  background: #eaffc3;
  box-shadow: none;
  border-radius: 15px;
  padding: 9px 30px;
}
.btn:hover {
/*   background: #aeffae; */
  background: #b8de72;
  cursor: pointer;
}
.night .btn {
  color: #adadad;
  background: #333e21;
}
.night .btn:hover {
  background: #2c4e31;
}

/* slider */

.slider {
  height: 30px;
  padding: 2px;
  background: #202020;
  border-radius: 10px;
}
.slider .slider-btn {
  position: relative;
  left: 0;
  width: 40px; height: 30px;
  background: #555;
  border-radius: 10px;
}
