<html>
  <% include ../header.ejs %>

  <body class='night'>
    <section class='container'>
      <form method="post" action="/login" autocomplete="off" novalidate>
        <!--input type="hidden" name="token" value="<%= //vars.token %>" /-->
        
        <div>
          <label for="user"><b>username / email</b></label>
        </div>
        <div>
          <input type="text" placeholder="enter username or email" name="user" required>
        </div>
        <div>
          <label for="pwd"><b>Password</b></label>
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="pwd" required>          
        </div>
        <button type="submit">Log me in</button>
      </form>
    </section>
  </body>
</html>