  <section id='create-cloud' class='container'>
    <form method="post" action="/clouds/create" novalidate>
      <div>
        <input class="input fresh" id="input-create-cloud" autocomplete="off"
               name="cloudName" value='crear nube...'>
      </div>
      <button disabled class="btn" type="submit">Crea!</button>
    </form>
  </section>

  <section id='see-clouds' class='container items clouds'>
    <% for (i in vars.clouds) { var c = vars.clouds[i] %>
      <%
         // check if this cloud is currently showed
         var isCurrent = (typeof vars.cloudId !== 'undefined') &&
                       (c._id.toString() == vars.cloudId.toString())
         
         if (isCurrent) curCloudName = c.name
      %>
      <a href='/show?cloudId=<%= c._id %>' cloudId='<%= c._id %>'
         <% if (c.color) { %> style='background: <%= c.color %>'<% } %>
         class="item cloud<% if(isCurrent == true) { %>
                current
                <%}%>">
        <%= c.name %>
        <span class='count'><%= c.items.length %></span>
      </a>
    <% } %>
  </section>
  
  <section id='move-to-cloud' class='container items clouds' hidden='hidden'>
    <% for (i in vars.clouds) { var c = vars.clouds[i] %>
    
      <form method="post" action="/move" novalidate>
        <input type="hidden" name="cloudFrom" value="<%= vars.cloudId %>" />
        <input type="hidden" name="cloudTo" value="<%= c._id %>" />
        <button class="btn" type="submit"><%= c.name %></button>
      </form>
    <% } %>
  </section>