<section class='container items notes allClouds'>

  <div class='cloud-funcs'>
    <div class='btn-wrap'>
      <a href='javascript:closeAllClouds()'>close all</a>
      <a href='javascript:openAllClouds()'>open all</a>
    </div>
    <div class='btn-wrap sort'>
      <a href='javascript:sortClouds("date-created")' sortBy='date-created' order='up'
         >sort by date created <span>&#9650</span></a>
      <a href='javascript:sortClouds("item-count")' sortBy='item-count' order='up'
         >sort by size <span>&#9650</span></a>
    </div>
  </div>

  <% for (i = 0; i < vars.clouds.length; i++) { var cloud = vars.clouds[i] %>

    <div class='cloud' cloudId='<%= cloud._id %>'
         data-item-count='<%= cloud.items.length %>'
         data-date-created='<%= moment(cloud.createdAt).format("YYYYMMDDHHmmssSSS") %>'
         >
      <a href='javascript:openCloseCloud("<%= cloud._id %>")'
         class='title'><%= cloud.name %></a>
      <a href='/show?cloudId=<%= cloud._id %>' class='cloudlink'>&#187;</a>
      <div class='when'>
        <%= moment(cloud.createdAt).fromNow() %>
      </div>
      <div class='notes'>
        <% for (j = 0; j < cloud.items.length; j++) { var note = cloud.items[j] %>
          <% include ../note/note-show.ejs %>
        <% } %>
      </div>
    </div>

  <% } %>
</section>