<section class='container cloud-header'>
  <div class='cloudTitle'><%= curCloudName %></div>

  <% if (curCloudName == 'TRASH') { %>
    <div><a href='/cleanup'>empty trash</a></div>
  <% } %>
  <% if (vars.notes.length === 0) { %>

    <form action='clouds/remove?id=<%= vars.cloudId %>' method='post'>
      <a href="javascript:;" onclick="parentNode.submit();" class=''>remove this cloud<!--&#129029;--></a>
    </form>
  <% } %>
  <a href='javascript:;' onclick='createColorPicker()' class='toggle-colorPicker'>change color</a>
  <div hidden class='colorPicker-wrap' data-cloudId='<%= vars.cloudId %>'></div> 
</section>

<!-- show all notes  -->

<section class='container items notes'>
  <div class='notes'>
    <% 
      for (i = 0; i < vars.notes.length; i++) {
        var note = vars.notes[i] %>
        <% include ../note/note-show.ejs %>
    <% } %>
  </div>
</section>