  <section class='container add-note'>
    <form method="post" action="/notes/create" novalidate>
      <input type="hidden" name="cloudId" value="<%= vars.cloudId %>" />
      <div class="form-field nube-crear-nota fade-in">
        <div id='add-note-input-wrap'>
          <textarea class="input fresh" id="content" name="content"
                     rows="2">estoy pensando a...</textarea>
        </div>
      </div>
      <div class="form-actions">
        <button disabled class="btn" type="submit">Sube!</button>
      </div>
    </form>
    
  </section>