<%
  var moreClasses = ''
  
  var isYoutube = (note.attr !== undefined &&
                   note.attr['url-youtube'] !== undefined)
  
  if(note.clouded)  moreClasses += ' clouded'
  if(isYoutube)     moreClasses += ' type-youtube'
%>
<span class='item note<%= moreClasses %>' noteId='<%= note._id %>'>
  <% if(note.title !== undefined && note.title.length > 0 && note.title != 'Untitled Note') { %>
    <span class='note-title'><%= note.title %></span>
  <% } %>
  <span class='content'>
    <%- formatter.get(note.content) %>
  </span>
  <%- note.content.includes('<br>') ? '<br>':'' // linebreak at end of multiliner %>
  <% if(note.attr !== undefined && note.attr.url !== undefined) { %>
  <a href='<%= note.attr.url %>' target='_blank'> &#187; </a>
  <% } %>
  <span class='meta'>
    <span class='rating'><%= note.rating %></span>
    <% var strCloud = vars.cloudId ? ('&cloudId=' + vars.cloudId) : '' %>
    <form action="/notes/vote?noteId=<%= note._id %>&voteUp=true<%= strCloud %>" method="post">
      <a href="javascript:;" onclick="parentNode.submit();" class='vote'>&nbsp&#9650&nbsp<!--&#129029;--></a>
    </form>
    <form action="/notes/vote?noteId=<%= note._id %>&voteUp=false<%= strCloud %>" method="post">
      <a href="javascript:;" onclick="parentNode.submit();" class='vote'>&nbsp&#9660&nbsp<!--&#129031;--></a>
    </form>
  </span>
  %><% if(isYoutube) { %>
  <a href='javascript:playVideo("<%= note._id %>")'
     class='play-video' url='<%= note.attr['url-youtube'] %>'> play </a>
  <% } %>
  %>
</span>